* {
  margin: 0;
  padding: 0;
}

.container {
  height: fit-content;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "header header "
    "sidebar art"
    "footer footer";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.logo {
  grid-area: logo;
  justify-self: start;
  align-self: center;
}
.menu {
  align-self: center;
}
.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "l1 l2 l3 l4 ";
}

.header {
  grid-area: header;
  display: grid;
  background-color: #393f4d;
  grid-template-columns: 1fr repeat(1, 2fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo link ";
}

.menu ul,
.menu li {
  font-size: 16px;
}
ul {
  list-style-type: none;
}
.sidebar {
  grid-area: sidebar;
  background-color: #c50208;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "img "
    "box1"
    "box2"
    "box3";
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}
.side-content {
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  grid-area: nav;
  background-color: #c50208;
}
.card {
  margin: 10px;
}
.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}
.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "l1 l2 l3 l4 ";
}
.article {
  grid-area: art;
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr repeat(3, 4fr);
  grid-template-areas:
    "nav nav nav nav "
    "card card card card"
    "card card card card"
    "card card card card";
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
